Source: combaine
Section: misc
Priority: extra
Maintainer: Anton Tyurin <noxiouz@yandex.ru>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python (>= 2.4), python-support
Standards-Version: 3.8.3
Homepage: https://github.com/noxiouz/Combaine

Package: combaine
Architecture: all
Depends: 
 ${shlibs:Depends},
 ${misc:Depends},
 python-zookeeper,
 python-zmq,
 python-pymongo,
 python-simplejson,
 cocaine-framework-python (=0.9.6),
 cocaine-generic-slave (=0.9.3),
 cocaine-server (=0.9.3),
 cocaine-tools (=0.9.3),
 libcocaine-common1 (=0.9.3),
 libcocaine-core1 (=0.9.3),
 libcocaine-dealer1 (=0.9.4),
 libcocaine-plugin-chrono (=0.9.0),
 libcocaine-plugin-dealer (=0.9.0),
 libcocaine-plugin-python (=0.9.0)
Description: Combaine cloud machine
 Fast cloud
